- project: "{{proj_name}}"
  success:
  - inventory_source: "{{inventory_source_name}}"
    success:
    - job_template: "{{job_template_name_osp_infra}}"
      success:
      - job_template: "{{job_template_name_osp_instances}}"