[tower]
tower1.{{tower_GUID}}.internal
tower2.{{tower_GUID}}.internal
tower3.{{tower_GUID}}.internal
[database]
support1.{{tower_GUID}}.internal

[isolated_group_osp]

workstation-{{osp_GUID}}.rhpds.opentlc.com ansible_user='cloud-user' ansible_ssh_private_key_file='~/.ssh/openstack.pem' ansible_ssh_common_args='-o StrictHostKeyChecking=no'

[isolated_group_osp:vars]
controller=tower

[all:vars]
ansible_become=true
admin_password='r3dh4t1!'

pg_host='support1.{{tower_GUID}}.internal'
pg_port='5432'

pg_database='awx'
pg_username='awx'
pg_password='r3dh4t1!'

rabbitmq_port=5672
rabbitmq_vhost=tower

rabbitmq_username=tower
rabbitmq_password=redhat
rabbitmq_cookie=cookiemonster

rabbitmq_use_long_name=true
